body{
  font-family: 'Quicksand', sans-serif;
  font-size: 22px;
  background-color: #dddddd;
  background: url(../images/pidgeon-background.jpg);
  background-repeat: no-repeat;
  position: relative;
  margin: 10px;
  /* min-height: 400px;
  margin-bottom: 100px;
  clear: both; */
}

h1{
  font-size: 2em;
  line-height: 1.5;
  color: #c12258;
}

p{
  color: black;
  font-size: 18px;
  padding-top: 15px;
}

a:link{
  font-size: 18px;
  color: #c12258;
}

a:focus{
  border: 1px solid red;
}

table{
  border: 2px solid black;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
}

.colhead{
  min-width: 150px;
  padding: 10px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  background: #7e0830;
}

td, th{
  border-top: 2px solid black;
}

td{
  text-align: center;
  padding: 15px;
}

tr:nth-child(even){
  background-color: #dddddd;
}

tr:nth-child(odd){
  background-color: transparent;
}

tr:hover{
  background-color: #fab9cf;
}


thead tr th:first-child{
  border-top-left-radius: 10px;
}

thead tr:first-child th:last-child{
  border-top-right-radius: 10px;
}

tbody tr:last-child th:first-child{
  border-bottom-left-radius: 10px;
}

tbody tr:last-child td:last-child{
  border-bottom-right-radius: 10px;
}

footer p{
  min-height: 60px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  background-color: black;
}
